@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  margin: 0;
  padding-top: 63;
  background: url("blah1.png");
  font-family: 'Roboto', sans-serif;
}

